# Python
__pycache__/
*.pyc
.venv/
.venv311/

# Veri setleri
turk_isaret_dili_proje/tid_pipeline/data/
turk_isaret_dili_proje/tid_pipeline/data/processed/

# Büyük model dosyaları
*.h5
*.task

# IDE
.idea/
.vscode/

# Android build
mobil/.gradle/
mobil/app/build/
mobil/build/
mobil/local.properties

# OS
.DS_Store
Thumbs.db